$primary-blue: #3db2ff;
$secondary-white: #ffedda;
$primary-yellow: #ffb830;
$primary-red: #ff2442;
$main-padding-left: 20%;
$secondary-padding-left: 20%;
.Data-img-ske {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.Comp-content {
  color: #e6d5b8;
  padding-inline: $main-padding-left;
}
.Data-desc {
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  span + span {
    margin-block-start: 1.5em;
  }
}
.Comp-contentComp-content {
  display: flex;
  flex-direction: column;
}
.Comp-inner-content {
  background-color: #1b1a17;
  border-radius: 3px;
  margin-block-start: 5em;
  padding-inline: 5em;
  padding-block-start: 3em;
  padding-block-end: 2em;
}
.Data-keyword {
  color: #f0a500;
}
